/*typography*/
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 0.875rem;
  color: #2d2d2d;
}

h1 {
  font-size: 1.125rem;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  font-style: normal;
  text-shadow: 2px 2px 4px hsla(0, 0%, 39%, 0.8);
}

h2 {
  font-family: "Playfair Display";
  font-size: 2.5rem;
  color: white;
  padding-top: 0.938rem;
  text-shadow: 2px 2px 4px hsla(0, 0%, 39%, 0.8);
}

h3 {
  font-family: "Playfair Display";
  font-size: 2.1rem;
  padding-bottom: 1.25rem;
}

h4 {
  font-family: "Raleway";
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.75rem;
  font-style: normal;
  color: #969696;
}

h5 {
  font-family: "Playfair Display";
  font-size: 1.313rem;
  padding: 1rem;
  color: #e2574c;
}

h6 {
  font-family: "Raleway";
  font-weight: 500;
  font-style: normal;
  color: #969696;
}

p {
  line-height: 2;
  font-size: 0.875rem;
}

main {
  text-align: center;
}

nav {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

ul {
  display: flex;
  flex-direction: row;
}

.nav-space {
  padding: 1rem;
}

a {
  color: #e2574c;
  text-decoration: none;
}

header {
  padding: 0px;
}

/* Container classes */

.container-about {
  width: 90%;
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.container-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0.625rem;
}

.container-large {
  width: 100%;
  margin: 0 auto;
}

.container-featured {
  width: 100%;
  margin: 0 auto;
  padding-top: 4rem;
  padding-bottom: 8rem;
}

.container-contact {
  width: 90%;
  font-family: "Playfair Display";
  padding-top: 3rem;
}

.container-social {
  display: flex;
  justify-content: center;
  width: 40%;
  padding-bottom: 10rem;
  padding-top: 1rem;
  font-size: 1rem;
  padding-top: 2rem;
  color: white;
}

.container-updates {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 0.625rem;
}

.container-about span {
  margin-left: 0.65rem;
  font-weight: bold;
}

.container-featured span {
  margin-left: 0.65rem;
  font-weight: bold;
}

.container-updates span {
  margin-left: 0.65rem;
  font-weight: bold;
}

/* SHOP BOXES */

.container-shop {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}

.category {
  color: white;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px hsla(0, 0%, 39%, 0.8);
  font-size: 1.4rem;
  font-weight: 500;
  height: 50vw;
}
/* mens */
.category:nth-child(1) {
  /*background-color: blue;*/
  /* padding: 3.125rem 0px; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/mens-category.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 0.25rem solid white;
}

/* trends */
.category:nth-child(2) {
  /*background-color: green;*/
  /* padding: 3.125rem 0px; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/trends-category.jpg);
  background-position: 50% center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-bottom: 0.25rem solid white;
  border-top: 0.25rem solid white;
  border-right: 0.25rem solid white;
}

/* glasses */
.category:nth-child(3) {
  /*background-color: yellow;*/
  /* padding: 3.125rem 0px; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/glasses-category.jpg);
  background-position: 50% center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-bottom: 0.25rem solid white;
  border-top: 0.25rem solid white;
  border-left: 0.25rem solid white;
}

/* sale */
.category:nth-child(4) {
  /*background-color: purple;*/
  /* padding: 3.125rem 0px; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/sale-category.jpg);
  background-position: 50% center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-bottom: 0.25rem solid white;
  border-top: 0.25rem solid white;
  border-right: 0.25rem solid white;
}

/* bags */
.category:nth-child(5) {
  /*background-color: magenta;*/
  /* padding: 3.125rem 0px; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/bags-category.jpg);
  background-position: 50% bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-bottom: 0.25rem solid white;
  border-top: 0.25rem solid white;
  border-left: 0.25rem solid white;
}

/* womens */
.category:nth-child(6) {
  /*background-color: orange;*/
  /* padding: 3.125rem 0px; */
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/womens-category.jpg);
  background-position: 50% top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 0.25rem solid white;
}

/*images*/

.banner {
  padding: 6.25rem 0rem;
  background-image: linear-gradient(rgba(2, 2, 2, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/banner-girl.png), url(../images/flower-bkgd.jpg);
  background-position: center bottom, center 60px, center;
  background-repeat: no-repeat;
  background-size: cover, 150px, cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;
}

.banner-text {
  width: 80%;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  background-color: #242424;
  color: white;
  border-top: 10px solid white;
  text-align: center;
}

/* header layout ----- */

.container-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.aloha-logo {
  width: 7.5rem;
  padding-bottom: 0.5rem;
}

.basket-icon {
  display: flex;
  justify-content: flex-end;
  width: 3.125rem;
  padding-bottom: 0.5rem;
}

.nav-bar {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  width: 100%;
  border-top: 1px solid rgb(212, 212, 212);
}

/* end of header layout ----- */

.main-carousel {
  padding-top: 2rem;
}

.carousel-cell {
  text-align: center;
  width: 100%; /* full width */
}

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -90px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.social-media a {
  font-size: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: white;
}

/* .google-icon {
  font-size: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
} */

.social-media span {
  display: none;
}

.updates {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
    url(../images/wave-bkgd.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 3rem;
  padding-bottom: 5rem;
  color: white;
}
.address {
  opacity: 70%;
}

.shadow {
  text-shadow: 2px 2px 4px hsla(0, 0%, 39%, 0.8);
}

/* FORM */

.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 10px;
  width: 90%;
}

.form-input {
  width: 31.25rem;
  height: 45px;
  border-radius: 30px;
  padding-left: 1rem;
  font-family: "Raleway";
  font-weight: 300;
  font-size: 0.875rem;
  border: none;
}

input::placeholder {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 0.875rem;
}

.form-input:focus {
  outline: none;
  border: none;
  box-shadow: 0.1px 0.1px 4px 1px grey;
}

.form-submit {
  background: #e2574c;
  color: #fff;
  padding: 0.65rem 1.2rem;
  position: absolute;
  top: 0px;
  right: 4px;
  border-radius: 30px;
  margin: 4px 0px 4px 0px;
  font-family: "Raleway";
  font-weight: bold;
  font-size: 0.875rem;
  box-shadow: none;
  border-width: none;
  border-style: none;
  border-color: none;
}

.form-submit:hover {
  background: #b64036;
}

.container-contact a {
  text-decoration: underline;
  color: white;
}

.container-social {
  padding-bottom: 4rem;
}

/* ABOVE IS MOBILE */

/* Media Queries (breakpoints) -- for mobile first
-------------------------------- */

/* for tablet --------------------------- */
@media screen and (min-width: 600px) {
  /* header layout for tablet */

  body {
    font-size: 1rem;
  }

  a {
    font-size: 1rem;
    text-decoration: none;
  }

  p {
    font-size: 1.1rem;
  }

  h1 {
    font-size: 1.2rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.3rem;
    padding-bottom: 1.5rem;
  }

  .container-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .aloha-logo {
    display: flex;
    padding-bottom: 0.5rem;
  }

  .basket-icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    order: 1;
    padding: 0px;
  }

  .nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: none;
    text-align: center;
  }
  /* end of  header layout for tablet */

  .banner {
    padding: 6.25rem 0rem;
    background-image: linear-gradient(rgba(2, 2, 2, 0.3), rgba(0, 0, 0, 0.3)),
      url(../images/banner-girl.png), url(../images/flower-bkgd.jpg);
    background-position: center bottom, center 60px, center;
    background-repeat: no-repeat;
  }

  .container-about {
    width: 90%;
    margin: 0 auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  /* SHOP BOXES --------------------*/

  .category {
    height: 25vw;
  }
  /* mens */
  .category:nth-child(1) {
    width: 50%;
    border-bottom: 0.25rem solid white;
    border-right: 0.25rem solid white;
  }

  /* trends */
  .category:nth-child(2) {
    width: 25%;
    border-bottom: 5px solid white;
    border-top: none;
    border-right: 0.25rem solid white;
    border-left: 0.25rem solid white;
  }

  /* glasses */
  .category:nth-child(3) {
    width: 25%;
    border-bottom: 0.25rem solid white;
    border-top: none;
    border-left: 0.25rem solid white;
  }

  /* sale */
  .category:nth-child(4) {
    width: 25%;
    border-bottom: none;
    border-top: 0.25rem solid white;
    border-right: 0.25rem solid white;
  }

  /* bags */
  .category:nth-child(5) {
    width: 25%;
    border-bottom: none;
    border-top: 0.25rem solid white;
    border-left: 0.25rem solid white;
    border-right: 0.25rem solid white;
  }

  /* womens */
  .category:nth-child(6) {
    width: 50%;
    border-top: 0.25rem solid white;
    border-left: 0.25rem solid white;
  }

  /* END OF SHOP BOXES --------- */

  .updates {
    padding-top: 5.25rem;
  }

  .subscribe-form {
    top: 20px;
    width: 70%;
  }

  /* footer layout ---*/

  .footer {
    display: flex;
    flex-direction: row;
    text-align: left;
    padding-left: 1rem;
  }

  .container-contact {
    display: flex;
    flex-direction: column;
    width: 75%;
    font-size: 0.8rem;
    padding-bottom: 4rem;
  }

  .container-contact p {
    line-height: 1.5;
  }

  .social-media {
    display: flex;
    /* flex-direction: row-reverse; */
    flex-direction: column;
  }

  i {
    width: 25px;
  }

  li:hover a {
    color: #b64036;
  }

  li:hover i {
    color: #b64036;
  }

  li:hover span {
    color: #b64036;
  }

  .container-social {
    align-items: center;
    width: 40%;
    padding-top: 3rem;
    padding-bottom: 2rem;
  }

  .social-media span {
    display: inline;
    flex-direction: row;
    font-size: 1rem;
    padding: 0.5rem;
    color: white;
  }

  .google-icon {
    display: none;
    font-size: 0rem;
  }

  /*  for carousel  */
  .carousel-cell {
    width: 50%;
  }
}

/* for tablet END--------------------------- */

/* for desktop --------------------------- */

@media screen and (min-width: 1240px) {
  .carousel-cell {
    width: 25%;
  }

  .aloha-logo {
    width: 10rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
  }

  .basket-icon {
    display: flex;
    justify-content: flex-end;
    width: 4rem;
    padding-bottom: 0rem;
    padding-right: 0.5rem;
  }

  .banner {
    padding: 6.25rem 0rem;
    background-image: linear-gradient(rgba(2, 2, 2, 0.3), rgba(0, 0, 0, 0.3)),
      url(../images/banner-girl.png), url(../images/flower-bkgd.jpg);
    background-position: center bottom, center 75px, center;
    background-size: cover, 255px, cover;
    height: 580px;
  }

  h1 {
    font-size: 1.2rem;
  }

  h2 {
    font-size: 4.1rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1rem;
  }

  .container-about {
    width: 100%;
    margin: 0 auto;
    padding-left: 20rem;
    padding-right: 20rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .category {
    font-size: 2rem;
  }

  /* .updates {
    height: 45vh;
    padding-left: 20rem;
    padding-right: 20rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
  } */

  .footer {
    display: flex;
    flex-direction: row;
    text-align: left;
    padding-bottom: 5rem;
  }

  .container-social {
    display: flex;
    justify-content: flex-end;
    width: 40%;
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-right: 5rem;
  }

  /* .subscribe-form {
    max-width: 550px;
  } */
}
