/*typography*/
* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway";
  font-weight: 300;
  font-size: 0.875rem;
}

h1 {
  font-size: 1.125rem;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  font-style: normal;
  text-shadow: 1px 1px 5px rgb(114, 110, 110);
}

h2 {
  font-family: "Playfair Display";
  font-size: 2.5rem;
  color: white;
  padding-top: 0.938rem;
  text-shadow: 1px 1px 5px rgb(114, 110, 110);
}

h3 {
  font-family: "Playfair Display";
  font-size: 1.875rem;
  padding-bottom: 1.25rem;
}

h4 {
  font-family: "Raleway";
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
}

h5 {
  font-family: "Playfair Display";
  font-size: 0.75rem;
}

h6 {
  font-family: "Raleway";
  font-weight: 500;
  font-style: normal;
}
p {
  line-height: 2;
  font-size: 0.875rem;
}
main {
  text-align: center;
}

nav {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

ul {
  display: flex;
  flex-direction: row;
}

.nav-space {
  padding: 1rem;
}

a {
  color: coral;
  text-decoration: none;
}

header {
  padding: 0px;
}

/* Container classes */

.container-about {
  width: 90%;
  margin: 0 auto;
  border: 1px solid black;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.container-header {
  width: 100%;
  border: 1px solid black;
  margin: 0 auto;
  padding: 0.625rem;
}

.container-large {
  width: 100%;
  margin: 0 auto;
  border: 1px solid black;
}

.container-featured {
  width: 100%;
  margin: 0 auto;
  border: 1px solid black;
  padding: 2.5rem;
}
.container-contact {
  width: 75%;
  border: 1px solid black;
  font-family: "Playfair Display";
}

.container-social {
  display: flex;
  justify-content: center;
  width: 25%;
  border: 1px solid black;
  padding-bottom: 10rem;
}

.container-footer {
  padding: 1rem;
}

.container-updates {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  border: 1px solid black;
  padding: 0.625rem;
}

/* SHOP BOXES */

.container-shop {
  display: flex;
  flex-flow: row wrap;
  border: 1px solid black;
  width: 100%;
}

.category {
  color: white;
  text-transform: uppercase;
  text-shadow: 1px 1px 5px rgb(114, 110, 110);
  font-size: 1.4rem;
  font-weight: 500;
  height: 30vh;
}
/* mens */
.category:nth-child(1) {
  /*background-color: blue;*/
  padding: 3.125rem 0px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/mens-category.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-bottom: 5px solid white;
}

/* trends */
.category:nth-child(2) {
  /*background-color: green;*/
  padding: 3.125rem 0px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/trends-category.jpg);
  background-position: 50% center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-bottom: 5px solid white;
  border-top: 5px solid white;
  border-right: 5px solid white;
}

/* glasses */
.category:nth-child(3) {
  /*background-color: yellow;*/
  padding: 3.125rem 0px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/glasses-category.jpg);
  background-position: 50% center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-bottom: 5px solid white;
  border-top: 5px solid white;
  border-left: 5px solid white;
}

/* sale */
.category:nth-child(4) {
  /*background-color: purple;*/
  padding: 3.125rem 0px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/sale-category.jpg);
  background-position: 50% center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-bottom: 5px solid white;
  border-top: 5px solid white;
  border-right: 5px solid white;
}

/* bags */
.category:nth-child(5) {
  /*background-color: magenta;*/
  padding: 3.125rem 0px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/bags-category.jpg);
  background-position: 50% bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  border-bottom: 5px solid white;
  border-top: 5px solid white;
  border-left: 5px solid white;
}

/* womens */
.category:nth-child(6) {
  /*background-color: orange;*/
  padding: 3.125rem 0px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/womens-category.jpg);
  background-position: 50% top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 5px solid white;
}

/*images*/

.banner {
  padding: 6.25rem 0rem;
  background-image: linear-gradient(rgba(2, 2, 2, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/banner-girl.png), url(../images/flower-bkgd.jpg);
  background-position: center bottom, center 60px, center;
  background-repeat: no-repeat;
  background-size: cover, 150px, cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 63vh;
}

.aloha-logo {
  width: 120px;
}

.basket-icon {
  width: 50px;
  padding: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  background-color: rgb(37, 37, 37);
  color: white;
  border-top: 10px solid white;
  text-align: center;
}

/* header layout ----- */

.header-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
}

.nav-bar {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  border-top: 1px solid rgb(212, 212, 212);
}

.social-icon {
  font-size: 1rem;
  padding: 0.5rem;
}

.social:hover {
  color: coral;
}

.updates {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
      rgba(126, 123, 123, 0.3),
      rgba(172, 169, 169, 0.3)
    ),
    url(../images/wave-bkgd.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  height: 55vh;
  color: white;
}

.social {
  color: white;
  display: none;
}

.address {
  opacity: 70%;
}

.shadow {
  text-shadow: 1px 1px 5px rgb(114, 110, 110);
}

/* FORM */

.subscribe-form {
  display: flex;
  justify-content: center;
  position: relative;
  top: 10px;
  max-width: 335px;
}

.form-input {
  width: 500px;
  height: 45px;
  border-radius: 30px;
  border: 1px solid rgb(255, 255, 255);
}

input::placeholder {
  padding-left: 25px;
  font-family: "Raleway";
  font-weight: 300;
  font-size: 16px;
}

.form-submit {
  width: 125px;
  height: 40px;
  background: red;
  color: #fff;
  padding: 2px 10px;
  position: absolute;
  top: 0px;
  right: 3px;
  border-radius: 30px;
  margin: 2px 0px 2px 0px;
  font-family: "Raleway";
  font-weight: 300;
  font-size: 16px;
}

.container-social {
  padding-bottom: 4rem;
}
.screen-size {
  max-width: 1240px;
}

/* ABOVE IS MOBILE */

/* Media Queries (breakpoints) -- for mobile first
-------------------------------- */

@media screen and (min-width: 600px) {
}
